.anamation {
    animation: animate 2s ease-in-out forwards;
}

@keyframes animate {
    0% {
        transform: translateY(-800px);
        color: #FFF;
    }

    60% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
        color: #000;
    }
}